body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}
h1{
    font-size:xx-large;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-size:xx-large;
    font-family: 'Times New Roman', Times, serif;
    height: 80px;
}
#theWord{
    width: 300px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#keyboard {
    width: 1000px;
    height: 200px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.inputButtonLetters{
    width: 144px; 
    height: 70px;

    font-size: 20px;

    border: 1px solid black;
    margin: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.letter {
    width: 70px; 
    height: 70px;

    font-size: 20px;

    border: 1px solid black;
    margin: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* .failNumb {
    width: 70px; 
    height: 70px;

    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    
} */

.letterSelect{
    background-color:lightgray;
}

.navbar {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    /* background-color: rgb(182, 182, 182); */
}


.popup .overlay{
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 200vw;
    height: 200vh;
    z-index: 1;
    background-color: cadetblue;
}

.popup .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) scale(0);
    background: #fff;
    width: 450px;
    height: 300px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.popup.active .overlay{
    display: block;
}

.popup.active .content{
    transition: all 360ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
}